.profile-card{
    position: relative;
    display: flex;
    width: 450px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
   
    text-align: center;
    top: 15px;
    background-color: white;
}

.fullName{
    text-decoration: none;
}

@media screen and (max-width: 540px) {
    .profile-card{
        width: 250px;
    }
    .img-profile img{
        width: 80px;
        margin-right: 0px;
    }
    .fullName p{
        font-size: 1px;
    }
}
   